header{
    width: 100%;
    background-color:black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 1.2em;
        color: white;
        margin-left: 10px;
        height: 25px;
        border-bottom: 1px solid rgb(99, 87, 87);
    }
    img{
        width: 120px;
        margin-left: 50px;
    }
    .list{
        color: rgb(167, 164, 164);
        display: flex;
        width: 350px;
        justify-content: space-around;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 1.2em;
        margin-right: 50px;
    }
    .menu {
        display: none;
    }
}
main{
    img{
         width: 100vw;
    }
    .bg-cont{
        position: relative;
        background-image: url(./assets/mars.png);
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    .main-text{
        text-align: center;
        font-size: 1.3em;
        color: rgb(99, 87, 87);
    }
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    .down-arrow{
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border-bottom: 2px solid gray;

    }
}
.text{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2em;
    // color:rgb(99, 87, 87);
    text-align: center;
    margin-bottom: -200px;
    z-index: 2;
    #el{
        margin-top: 40px;
}
.rocket{
    position: relative;
    background-image: url(./assets/spacex.webp);
    width: 100%;
    height: 500px;
    background-size: cover;
}

}

@media screen and (max-width:425px) {
    header {
        .list{
          display:none;
        }
        .menu{
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            background-image: url(./assets/menu.png);
            background-repeat: none;
         }
         img{
            margin-left: 10px;
         }
         #go-back{
            width: 20px;
            height: 20px;
            background-image: url(./assets/back.png);
            background-size: cover;
         }
         .go-back-text{
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-left: 5px;
         }
    }
    main{
        .main-text{
            position: absolute;
            top: 200px;
            margin-left: 10px;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Plus Jakarta Sans', sans-serif;
            h1{
                font-size: 2em;
            }
            h2{
                font-size: 0.9em;
                padding-top: 15px;
                padding-bottom: 5px;
            }
        }
    }
 
}